*{
    padding: 20px;
   
}
.botão{
    background-color: transparent;
    border: 1px solid;
    padding: 10px 40px;
    margin-right: 80px;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    left: 260px;
}

.a{
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: 1px solid;
    padding: 10px 40px;
    margin-right: 80px;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    left: 260px;
}

.categoria,.produto,.fornecedor,.estoque, .usuario{
    border: 1px solid;
    position: relative;
    top: 50px;
    left: 550px;
    font-size: 2.9em;
    text-align: center;
    border-radius: 20px;
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.buscar{
    border: 1px solid;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    position: relative;
    top: 60px;
}

input{
    border: none;
    width: 150px;
    height: 20px;
    position: relative;
    bottom: 35px;
    outline: none;
}
.icon{
    position: relative;
    width: 20px;
    height: 20px;
    bottom: 28px;
}

button[type="submit"]{
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.div_criar_categoria, .div_criar_produto{
    position: relative;
    left: 1500px;
    top: 10px;
    border: 1px solid;
    border-radius: 20px;
    width: 250px;
    height: 50px;
}

.button_criar_categoria,.button_criar_produto{
    position: relative;
    height: 50px;
    bottom: 10px;
    left: 25px;
    text-decoration: none;
    color: black;
}
.cards{
    position: relative;
    width: 300px; 
    height: 250px;
   
}

img{
    position: relative;
    right: 60px;
    width: 440px;
    bottom: 60px;
}

.div_pai{
    width: 400px;
    box-shadow: 1px 1px 5px black;
    height: 550px;
    position: relative;
    top: 50px;
}

.div_filho{
    position: relative;
    bottom: 80px;
    width: 400px;
    right: 40px;
}

.ver_produto{
    position: relative;
    top: 20px;
    border: 1px solid;
    border-radius: 20px;
    width: 250px;
    height: 50px;
}

.valor ,.inf_nutri,.display_soma_diminuir{
    position: relative;
    top: 20px;
    border: 1px solid;
    border-radius: 20px;
    height: 50px;
 
}

.div_inf_nutri{
    display: flex;
    justify-content: space-between;
    width: 400px;
    position: relative;
    right: 20px;
}

.button_criar_categoria2{
    position: relative;
    height: 50px;
    bottom: 30px;
    left: 30px;
    
}

.div_criar_categoria2{
    position: relative;
    left: 20px;
    bottom: 30px;
    border: 1px solid;
    border-radius: 20px;
    width: 250px;
    height: 50px;
}

.estoque_espacamento{
    margin-top: 90px;
    position: relative;
    /* display: flex;
    justify-content: space-between; */
}

/* .menos,.mais{
    border: none;
    background-color: black;
} */

.stepper {
    display: flex;
    align-items: center;
  }
  
  .stepper-btn {
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .stepper-input {
    position: relative;
    top: 0px;
    width: 80px;
    text-align: center;
   
    margin: 0 10px;
  }
  
  .stepper-input::-webkit-inner-spin-button,
  .stepper-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .stepper-input:focus {
    outline: none;
  }