[mysqld]
innodb_buffer_pool_size=2G
innodb_log_file_size = 1G
max_connections = 200
thread_cache_size = 16
query_cache_type=1
query_cache_size=128M
performance_schema = OFF
skip-name-resolve
default_authentication_plugin=mysql_native_password