[mysqld]
# Alinhe com sua máquina; 1G é OK para dev
innodb_buffer_pool_size = 1G
innodb_log_file_size    = 256M
innodb_flush_log_at_trx_commit = 2

max_connections = 200
skip-name-resolve
performance_schema = OFF

default_authentication_plugin = mysql_native_password
